= form_for [@project.namespace.becomes(Namespace), @project, @note], remote: true, html: { :'data-type' => 'json', multipart: true, id: nil, class: "new-note js-new-note-form js-quick-submit common-note-form" }, authenticity_token: true do |f|
  = hidden_field_tag :view, diff_view
  = hidden_field_tag :line_type
  = note_target_fields(@note)
  = f.hidden_field :commit_id
  = f.hidden_field :line_code
  = f.hidden_field :noteable_id
  = f.hidden_field :noteable_type
  = f.hidden_field :type
  = f.hidden_field :position

  = render layout: 'projects/md_preview', locals: { preview_class: "md-preview", referenced_users: true } do
    = render 'projects/zen', f: f,
      attr: :note,
      classes: 'note-textarea js-note-text',
      placeholder: "Write a comment or drag your files here...",
      supports_slash_commands: true
    = render 'projects/notes/hints', supports_slash_commands: true
    .error-alert

  .note-form-actions.clearfix
    = f.submit 'Comment', class: "btn btn-nr btn-create append-right-10 comment-btn js-comment-button"
    = yield(:note_actions)
    %a.btn.btn-cancel.js-note-discard{role: "button", data: {cancel_text: "Cancel"}}
      Discard draft
